{% extends "plantillaBase.html" %}

{% block tituloPagina %}
	<div class="row justify-content-center">
		<h1>Registro de productos</h1>
	</div>
{% endblock %}

{% block contenido %}
	<h3>{{ mensaje }}</h3>
	<form action="{% url 'producto' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
			<div class="col-12 col-sm-2">
				Id
			</div>
			<div class="col-8 col-sm-4">
				<input type="text" name="txtId" class="form-control" value="{{ item.id }}">
			</div>
			<div class="col-4 col-sm-2">
				<input type="submit" name="btnBuscar" class="btn btn-success btn-block"  value="Buscar">
			</div>
		</div>
		<br>
		<div class="row justify-content-center">
			<div class="col-12 col-sm-2">
				Marca
			</div>
			<div class="col-12 col-sm-6">
				<select name="cmbMarca" class="form-control">
					<option value="0">Seleccionar</option>
{% if marca %}
{% for fila in marca %}
					<option value="{{ fila.id }}">{{ fila.nombre }}</option>
{% endfor %}
{% endif %}	
                </select>
            </div>
        </div>
        

		<div class="row justify-content-center">
			<div class="col-12 col-sm-2">
				Categoria
			</div>
			<div class="col-12 col-sm-6">
				<select name="cmbCategoria" class="form-control">
					<option value="0">Seleccionar</option>
{% if categoria %}
{% for fila in categoria %}
					<option value="{{ fila.id }}">{{ fila.nombre }}</option>
{% endfor %}
{% endif %}
				</select>
			</div>
        </div>

        
        <div class="row justify-content-center">
			<div class="col-12 col-sm-2">
				Código
			</div>
			<div class="col-12 col-sm-6">
				<input type="text" name="txtCodigo" class="form-control" maxlength="13">
			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-12 col-sm-2">
				Descripción
			</div>
			<div class="col-12 col-sm-6">
				<input type="text" name="txtDescripcion" class="form-control" maxlength="100">
			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-12 col-sm-2">
				Stock
			</div>
			<div class="col-12 col-sm-6">
				<input type="text" name="txtStock" class="form-control">
			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-12 col-sm-2">
				Precio Costo
			</div>
			<div class="col-12 col-sm-6">
				<input type="text" name="txtPrecioCosto" class="form-control">
			</div>
		</div>
		
		
		<div class="row justify-content-center">
			<div class="col-12 col-sm-2">
				Precio Venta
			</div>
			<div class="col-12 col-sm-6">
				<input type="text" name="txtPrecioVenta" class="form-control">
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-12 col-sm-4 offset-sm-4">
			<input type="submit" name="btnGuardar" class="btn btn-primary" value="Guardar">
			<!--<input type="submit" name="btnBuscar" class="btn btn-primary" value="Buscar">-->
			<input type="submit" name="btnListar" class="btn btn-primary" value="Listar">
			</div>
		</div>
		<br>
	</form>	
	<div class="row justify-content-center">
		<h3>{{ mensaje }}</h3>
	</div>
{% endblock %}

{% block listado %}
{% if listado %}
	<div class="row justify-content-center">
		<div>
			<div class="table-responsive">
				<table class="table">
					<thead class="table-active">
						<th>#</th>
						<th>descripcion</th>
						<th>stock</th>
						<th>Precio Costo</th>
                        <th>Precio Venta</th>
                        <th>Marca</th>
                        <th>Categoria</th>
					</thead>
					<tbody>
{% for fila in listado %}
					<tr>
						<td>{{ fila.codigo }}</td>
						<td>{{ fila.descripcion }}</td>
						<td>{{ fila.stock }}</td>
						<td>{{ fila.precioCosto }}</td>
                        <td>{{ fila.precioVenta }}</td>
                        <td>{{ fila.marca }}</td>
                        <td>{{ fila.categoria }}</td>
					</tr>
{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endif %}
{% endblock%}